### Data Types and Variables

#### 1. Identify the data type of the following values:

In [1]:
type(99.9)

float

In [2]:
type("False")

str

In [3]:
type(False)

bool

In [4]:
type('0')

str

In [5]:
type(0)

int

In [6]:
type(True)

bool

In [7]:
type('True')

str

In [8]:
type([{}])

list

In [10]:
type({'a' : []})

dict

#### 2.   What data type would best represent the following?

- A term or phrase typed into a search box
    - str
- Whether or not a user is logged in
    - bool
- A discount amount to apply to a user's shopping cart
    - float
- Whether or not a coupon code is valid
    - bool
- An email address typed into a registration form 
    - str
- The price of a product
    - float
- The email addresses collected from a registration form
    - list
- Information about applicants to Codeup's data science program
    - dict

#### 3. For each of the following code blocks: 

- Read the expression and predict the evaluated results

- Execute the expression in a Python REPL.

In [11]:
'1' + 2

TypeError: can only concatenate str (not "int") to str

In [12]:
6 % 4

2

In [13]:
type(6 % 4)

int

In [14]:
type(type(6 % 4))

type

In [15]:
'3 + 4 is ' + 3 + 4

TypeError: can only concatenate str (not "int") to str

In [16]:
0 < 0

False

In [17]:
'False' == False

False

In [18]:
True == 'True'

False

In [19]:
5 >= -5

True

In [20]:
True or "42"

True

In [21]:
6 % 5

1

In [22]:
5 < 4 and 1 == 1

False

In [23]:
'codeup' == 'codeup' and 'codeup' == 'Codeup'

False

In [24]:
4 >= 0 and 1 !== '1'

SyntaxError: invalid syntax (383778220.py, line 1)

In [25]:
6 % 3 == 0

True

In [26]:
5 % 2 != 0

True

In [27]:
[1] + 2

TypeError: can only concatenate list (not "int") to list

In [28]:
[1] + [2]

[1, 2]

In [29]:
[1] * 2

[1, 1]

In [30]:
[1] * [2]

TypeError: can't multiply sequence by non-int of type 'list'

In [31]:
[] + [] == []

True

In [32]:
{} + {}

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

#### 4. Create a Python script file named data_types_and_variables.py. Inside the script, write Python code to describe the following scenarios. You will need to create and assign variables and use operators.

#### 5. You have rented some movies for your kids:

- The Little Mermaid for 3 days
- Brother Bear for 5 days
- Hercules for 1 day

If the daily fee to rent a movie is 3 dollars, how much will you have to pay?

In [34]:
little_mermaid = 3 * 3
brother_bear = 5 * 3
hercules = 1 * 3

In [38]:
total_rental = float(little_mermaid + brother_bear + hercules)
print(total_rental)

27.0

#### 6. Suppose you're working as a contractor for 3 companies: Google, Amazon and Facebook.

They pay you the following hourly rates:

- Google: 400 dollars
- Amazon: 380 dollars
- Facebook: 350 dollars
- This week you worked: 10 hours for Facebook, 6 hours for Google and 4 hours for Amazon.

How much will you receive in payment for this week?

In [39]:
google = 400 * 6
amazon = 380 * 4
facebook = 350 * 10

In [40]:
total_payment = google + amazon + facebook
print(total_payment)

7420

#### 7. A student can be enrolled to a class only if the class is not full and the class schedule does not conflict with her current schedule.

In [42]:
full_class = True
no_schedule_conflict = True

able_to_enroll = no_schedule_conflict and full_class

print(able_to_enroll)

True

#### 8. A product offer can be applied only if people buys more than 2 items, and the offer has not expired. Premium members do not need to buy a specific amount of products.

In [45]:
expired_offer = False
items_purchased_2_or_more = True
premium_member = True

product_offer = items_purchased_2_or_more or premium_member and not expired_offer

print(product_offer)

True

#### 9. Continue working in the data_types_and_variables.py file. Use the following code to follow the instructions below:


- username = 'codeup'
- password = 'notastrongpassword'

Create a variable that holds a boolean value for each of the following conditions:

- The password must be at least 5 characters
- The username must be no more than 20 characters
- The password must not be the same as the username

Bonus Neither the username or password can start or end with whitespace

In [54]:
username = 'codeup'
password = 'notasstrongpassword'

min_pw_length = len(password) >= 5
print(min_pw_length)

True

In [55]:
max_un_length = len(username) <= 20
print(max_un_length)

True

In [56]:
un_not_pw = password != username
print(un_not_pw)

True

In [50]:
password != ' password'

True

In [51]:
password != 'password '

True

In [52]:
username != ' username' or 'username '

True

In [57]:
string = 'abc def'

In [60]:
if 'a' in string:
    print(True)
else:
    print(False)

True

In [65]:
'a' in string

True

In [62]:
if ' ' in password:
    print('error: password cannot contain any spaces')
else:
    print('password accepted')

password accepted

In [63]:
if ' ' in username:
    print('error: username cannot contain any spaces')
else:
    print('username accepted')

username accepted

In [67]:
space_in_password = ' ' in password
print(space_in_password)

False

In [68]:
space_in_username = ' ' in username
print(space_in_username)

False