
## Objectives


- Gain familiarity with Jupyter notebooks
- Use and manipulate various data types
- Create, assign, and update variables
- Represent information with data types
- Use Boolean operators 
- Create and modify strings with string methods
- Create tuples
- Create dictionaries

[Reference](https://ds.codeup.com/python/data-types-and-variables/)

In [2]:
# lets say I want the 'Data Types' to be smaller = esc + 1-6 (1 being the biggest)

---
## Data Types


| Data type | Description |
|:-: |----------|
| `bool`|   Boolean values (True or False) |
| `str`  |  whole, or counting numbers |
| `float`|  decimal numbers |
| `list`| an ordered sequence of objects |
| `dict`| a collection of named values
| `NoneType` |  indicates absence of a value

In [4]:
# cell we want to delete = esc x
# if we want it back = esc z


###  `type` function


Returns the data type of an object. 

```python
type(object)
```

### Examples

In [7]:
type(123.0)

float

In [6]:
type(123)

int

In [8]:
type('Hello')

str

In [9]:
type(True)

bool

In [10]:
type(False)

bool

In [11]:
type('True')

str

In [12]:
type(true) # python is case sensitive

NameError: name 'true' is not defined

---

## Variables

### Assigning a variable

In [14]:
favorite_number = 42
n = favorite_number + 7

In [15]:
type(favorite_number)

int

In [16]:
print(favorite_number)

42

In [17]:
print(n)

49

#### Troubleshooting

What is the result of the following code?

```python
a = 6
print(a + b)
b = 4
```

In [18]:
a = 6
print(a + b)
b = 4

# we get an error, python runs sequentially

NameError: name 'b' is not defined

In [19]:
a = 6
b = 4
print(a + b)

10

### Updating a variable

In [1]:
x = 1
print(x)
# add 1 to x

x = x + 1
print(x)

# lets it a bit more complicated
x = x * 3 + x
print(x)

1
2
8

#### Example: Running a cell multiple times

In [2]:
number = 6

In [3]:
number = number + 1
print(number)

7

In [29]:
# if you keep running the cell, number will continue to add 1 each time

## Boolean values


There are two Boolean values: `True` and `False`

**Note:** A Boolean value is not a string

```python
type(True)
```
```
bool
```

```python
type('True')
```
```
str
```

In [ ]:
# boolean statements are often used with comparison operators

## Comparison operators 



#### Checks for equality
```python
==
```



#### Checks for inequality
```python
!=
```

### Examples

In [4]:
True == True

True

In [5]:
True != False

True

In [6]:
True == False

False

In [7]:
5 == 4 + 1

True

In [8]:
5 == 5.0

True

In [9]:
'hello' == 'Hello'

False

In [10]:
'hello ' == 'hello'

False

## Boolean Operators


Boolean operators evaluate statements and return a Boolean value.


#### `not` statements - also known as a negation


Returns the opposite Boolean value

| A | not A 
|:-: | :-:| 
| T | F |
| F | T |



For two statements **A** and **B**

#### `and` statement - also known as a *conjunction*


    
    

| A | B | A and B
|:-: | :-:| :-: | 
| T | T | T | 
| T | F | F | 
| F | T | F | 
| F | F | F | 



#### `or` statement - also known as a *disjunction*

    

| A | B | A or B
|:-: | :-:| :-: | 
| T | T | T | 
| T | F | T | 
| F | T | T | 
| F | F | F |



## Numbers

Two commonly used number types:


`int` - Whole numbers (both positive and negative) and 0

`float` - Numbers with decimals

####  Arithmetic Operations

| Operation      | Operator | Example  |
| ---------      | -------- | -------  |
| Addition       | `+`      | `4 + 4`  |
| Subtraction    | `-`      | `9 - 1`  |
| Multiplication | `*`      | `4 * 2`  |
| Division       | `/`      | `16 / 2` |
| Exponentiation | `**`     | `2 ** 3` |



####  Comparison Operations

| Operator | Description              | Example  |
| -------- | -----------              | -------  |
| `==`     | Equal to                 | `1 == 1` |
| `!=`     | Not equal to             | `1 != 0` |
| `>`      | Greater than             | `1 > 0`  |
| `<`      | Less than                | `0 < 1`  |
| `>=`     | Greater than or equal to | `1 >= 1` |
| `<=`     | Less than or equal to    | `1 <= 1` |

### Examples

In [11]:
5 > 6

False

In [12]:
5 > 5

False

In [13]:
5 >= 5

True

In [15]:
1 + 2 < 2.5

False

In [16]:
1.25 + 1.25 <= 2.5

True

In [17]:
# lets add some boolean operators

is_first_of_the_month = True
report_has_been_sent = False

should_process_report = is_first_of_the_month and not report_has_been_sent

print(should_process_report)

True

In [ ]:
# [is_first_of_the_month] is True AND NOT [report_has_been_sent] is False
# comes to True and double neg makes True
# result is True

In [18]:
is_first_of_the_month = False
report_has_been_sent = False

should_process_report = is_first_of_the_month and not report_has_been_sent

print(should_process_report)

False

In [19]:
is_first_of_the_month = True
report_has_been_sent = True

should_process_report = is_first_of_the_month and not report_has_been_sent

print(should_process_report)

False

---
## Strings

Strings represent text and are enclosed by quotes.



```python
'A string in single quotes'
```



```python
"A string in double quotes"
```



```python
'''A multi-line
string in
triple quotes'''
```

### Examples

In [ ]:
my_cohort = 'O\'Neil'

In [ ]:
my_cohort = "O'Neil"

In [20]:
greeting = 'Hello, World!'
print(greeting)

Hello, World!

In [21]:
print('Here is a single quote --> \' <-- ')
print("Here is a single quote --> ' <-- ")
print()
print("Here is a double quote --> \" <--")
print('Here is a double quote --> " <--')
print()
print('Newlines are indicated by the character "n" preceded by a backslash, like so')
print()
print('This string\ncontains a newline')

Here is a single quote --> ' <--
Here is a single quote --> ' <--

Here is a double quote --> " <--
Here is a double quote --> " <--

Newlines are indicated by the character "n" preceded by a backslash, like so

This string
contains a newline

### Operations with strings

In [22]:
### Concatenation

'abc' + 'def'

'abcdef'

In [23]:
'abc' * 3

'abcabcabc'

### Examples

In [24]:
# What happens when we try operations that are not allowed

'2' + 1

TypeError: can only concatenate str (not "int") to str

### Formatting strings

In [25]:
my_name = 'Caroline'

In [26]:
'Hello, %s!' % my_name # used as a place holder for a string to be input

'Hello, Caroline!'

In [27]:
'Hello, {}!' .format(my_name)

'Hello, Caroline!'

In [28]:
f'Hello, {my_name}! How are you doing?' # this method is most commonly used

'Hello, Caroline! How are you doing?'

### Examples

### String methods

A string method does not modify the original string. 

Assign the result to a new variable or update the string to use the modified string. 



| Data type | Description |
|:-: |----------|
| `.lower`|  convert to lower case
| `.upper`|  convert to upper case
| `.strip`  |  remove leading or trailing whitespace
| `.isdigit`|  tests whether a string is a number |
| `.split`| converts a string to a list |
| `.join`| converts a list to a string

### Examples

In [29]:
s = '   Hello, World!   '

In [30]:
s.lower() # this does not modify your original string

'   hello, world!   '

In [31]:
s.upper()

'   HELLO, WORLD!   '

In [32]:
s.strip()

'Hello, World!'

In [33]:
a = '123'
type(a)

str

In [34]:
a.isdigit()

True

In [35]:
s.split()

['Hello,', 'World!']

In [36]:
b = '123, Main, Street'

b.split(', ')

['123', 'Main', 'Street']

In [37]:
c = '123 Main Street'

c.split(' ')

['123', 'Main', 'Street']

In [39]:
c = '123 Main Street'

c.lower().split(' ')

['123', 'main', 'street']

In [40]:
', '.join(['one', 'two', 'three'])

'one, two, three'

---

## Lists

### Creating a list

In [41]:
# every object in a list is separated by a comma

number_list = [1, 2, 3]
print(number_list)

[1, 2, 3]

In [42]:
string_list = ['one', 'two', 'three']
print(string_list)

['one', 'two', 'three']

In [44]:
list_of_lists = [ [1, 2, 3], [4, 5, 6], [7, 8, 9] ]
list_of_lists

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

### List comprehensions

In [45]:
[n for n in range(10)] # 'n' is not a vairable that is set, python starts at 0 and range has 10 elements, so it does not include the number 10 itself

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [46]:
[n * 2 for n in range(10)]

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [47]:
# can also specify a condition

[n * 2 for n in range(10) if n % 2 == 0]

[0, 4, 8, 12, 16]

### List Operations

In [50]:
numbers = [1, 2, 3]

In [51]:
numbers.append(4)
numbers

[1, 2, 3, 4]

In [52]:
numbers.pop()
numbers

[1, 2, 3]

In [53]:
numbers.pop()
numbers

[1, 2]

In [54]:
len(numbers)

2

In [55]:
# Index

numbers[0]

1

In [56]:
numbers[7] # returns an error because numbers only has a 0 and 1 index position

IndexError: list index out of range

In [60]:
numbers.append([3, 4, 5])
numbers

[1, 2, [3, 4, 5], [3, 4, 5]]

In [62]:
letters = ['a', 'b', 'c', 'd', 'e']
len(letters)

5

In [63]:
letters[:2]

['a', 'b']

In [64]:
letters[1:2]

['b']

In [66]:
letters[1:]

['b', 'c', 'd', 'e']

In [67]:
# coverting to a list

list('abcde')

['a', 'b', 'c', 'd', 'e']

In [68]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [69]:
my_numbers = [1, 2, 3]

list(map(str, my_numbers)) # map is applying an operation to a bunch of objects

['1', '2', '3']

---

## Tuples

In [70]:
my_tuple = (1, 2, 3)

In [71]:
type(my_tuple)

tuple

In [72]:
my_tuple[1]

2


---

## Dictionaries

In [75]:
my_dictionary = {
    'name' : 'Codeup',
    'age' : 9
}

In [76]:
my_dictionary

{'name': 'Codeup', 'age': 9}

In [77]:
dict(name = 'Codeup', age = 9)

{'name': 'Codeup', 'age': 9}

### Creating a dictionary

In [78]:
my_new_dictionary = dict(name = 'Codeup', age = 9)
my_new_dictionary

{'name': 'Codeup', 'age': 9}

### Accessing dictionary values

In [79]:
school = dict(name = 'Codeup', age = 9)
school['name']

'Codeup'

In [81]:
school['age'] += 1 # basically saying add 1 and then set it equal to itself

# going to take the value of age and add 1 then it will update the dictionary

In [82]:
school

{'name': 'Codeup', 'age': 11}

## Changing data types

```python
int()
```

```python
str()
```

### Examples

In [83]:
a = 3
type(a)

int

In [84]:
str(a)

'3'

In [87]:
b = '6'

In [88]:
int(b)

6

In [89]:
b = int(b)
print(b)

6

### Getting user input with `input`

```python
name = input('What is your name?')
print(name)
```

In [91]:
name = input('What is your name?')
print('My name is ' + name)

What is your name?Caroline
My name is Caroline

In [93]:
f'Hello, {name}!'

'Hello, Caroline!'

In [95]:
first_number = int(input('What is the first number? '))
second_number = int(input('What is the second number? '))

What is the first number? 4
What is the second number? 5

In [96]:
sum_numbers = first_number + second_number
sum_numbers

9